body {
    background-color: #cad2c5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }  

#section-container{
  display: flex;
  flex-direction: column;
  background-color: #84a98c;
  padding-top: 20px;
  min-width: 600px;
  max-width: 800px;
  height: 600px;
  border: solid #2f3e46;
  border-radius: 6px;
  box-shadow: 5px 5px 10px 1px #2f3e46;
  color: #2f3e46;
}


h1{
  text-align: center;
  font-size: 50px;
  font-family: 'Water Brush', cursive;
}

p{
  padding: 0 20px;
  text-align: center;
  font-size: 30px;
  font-family: 'Short Stack', cursive;

}


.my-element {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.form{
  display: flex;
  justify-content: center;
}

.guess-input{
  background-color:#cad2c5;
  font-family: 'Water Brush', cursive;
  border-radius: 6px 0 0 6px;
  border: 3px solid #cad2c5;
  transition: 0.5s;
  outline: 0;
  
}

.guess-submit{
  background-color: #2f3e46;
  color: #84a98c;
  font-family: 'Water Brush', cursive;
  width: 100px;
  height: 35px;
  border-radius: 0 6px 6px 0;
  border-style: hidden;
  text-decoration: none; 
  outline: 0;
}

.guess-submit:hover{
  color: #2f3e46;
  background-color:#cad2c5 ;
  cursor: pointer;
  font-weight: 700;
}
input[type=text]:focus {
  border: 3px solid #2f3e46;
}

#guesses{
  font-size: 20px;
}

#result{
  margin: 0;
}

#hint{
  margin-top: 10px;
}